<% content_for :header_tags do %>
  <%= stylesheet_link_tag "plugin.css", :plugin => "qangaroo_plugin", :media => "screen" %>
<% end %>

<div class="header-bar">
  <i class="fa fa-list-alt"></i>
  <h1 class="header"><%= l(:heading_qangaroo_data) %></h1>
</div>

<% @data.each do |f| %>
  <div class="project-info-div">
    <h3><%= f.keys.first %></h3>
    <div class="bug-columns">
      <% f.values.first.values.each do |bug_data| %>
        <div class="bug-info-div">
          <table class="bug-info-table">
            <tr>
              <th class="qdata">Qangaroo</th>
              <th class="qdata">Value</th>
            </tr>
            <% bug_data.each do |bug_key, bug_value| %>
              <tr>
                <td class="qdata"><%= bug_key %></td>
                <td class="qdata"><%= bug_value %></td>
              </tr>
            <% end %>
          </table>
          <%= form_tag(register_issue_path) do %>
            <% bug_data.each do |bug_key, bug_value| %>
              <%= hidden_field_tag bug_key, bug_value %>
            <% end %>
            <div class="create-issue-div">
              <p><%= l(:description_create_ticket) %>:</p>
              <%= select_tag "project", options_from_collection_for_select(@projects, "id", "name")  %>
              <%= submit_tag "#{l(:button_create_ticket)}", {class: "create-ticket"} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
