<% content_for :header_tags do %>
  <%= stylesheet_link_tag "plugin.css", :plugin => "qangaroo_plugin", :media => "screen" %>
<% end %>

<div class="header-bar">
  <i class="fa fa-list-alt"></i>
  <h1 class="header"><%= l(:heading_api_settings) %></h1>
</div>

<% @services.each do |service| %>
  <div class="api-info-div">
    <h3 class="header"><%= "#{service.name}" %></h3>
    <hr>
    <ul>
      <li><%= "#{l(:namespace)}: http://#{service.namespace}" %></li>
      <li><%= "#{l(:api_key)}: #{service.api_key}" %></li>
    </ul>
    <div class="api-info-buttons">
      <%= link_to "#{l(:button_qangaroo_connect)}", get_qangaroo_data_path(service.id), {class: "api-info-button"} %>
    </div>
  </div>
<% end %>
