<% content_for :header_tags do %>
  <%= stylesheet_link_tag "plugin.css", :plugin => "qangaroo_plugin", :media => "screen" %>
<% end %>

<% @services = Service.where(active: true); @projects = Project.joins(:qangaroo_issues).uniq; @qangaroo_issues = QangarooIssue.all %>

<div class="settings-title-div">
  <i class="fa fa-list-alt"></i>
  <h1 class="header"><%= l(:heading_api_settings) %></h1>
  <div><%= l(:api_settings_description) %></div>
</div>

<% if @services.length > 0 %>
  <% @services.each do |service| %>
    <div class="api-info-div">
      <h3 class="header"><%= "#{service.name}" %></h3>
      <hr>
      <table>
        <tr>
          <td class="list-header"><%= "#{l(:namespace)}" %></td>
          <td><%= "#{service.namespace}" %></td>
        </tr>
        <tr>
          <td class="list-header"><%= "#{l(:api_key)}" %></td>
          <td><%= "#{service.api_key}" %></td>
        </tr>
        <tr>
          <td class="list-header"><%= "#{l(:integrated_bugs)}" %></td>
          <td><%= "#{service.qangaroo_issues.length}" %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="api-info-div">
    <h3><%= l(:no_integration_header) %></h3>
    <p><%= l(:no_integration_description) %></p>
  </div>
<% end %>
